<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="db.properties"/>
	<!-- src 폴더는 default로 읽는다. -->
	<typeAliases>
		<typeAlias type="com.sist.dao.CategoryVO" alias="CategoryVO"/>
		<typeAlias type="com.sist.dao.FoodVO" alias="FoodVO"/>
	</typeAliases>
	<environments default="development"><!-- (environment+) -->
		<environment id="development">
			<transactionManager type="JDBC"></transactionManager>
			<!-- COMMIT,ROLLBACK
				 ====== ======== 
				 1) JDBC	(java에서 활용 -> ex>catch 절에 의하여 자동으로 rollback)
				 2) MANAGED (dba가 관리)
			 -->
			<dataSource type="POOLED">
			<!-- 
				데이터에비스의 모든 정보 => DataSource 
				 = UNPOOLED : 연결, 해제 (요청할 때 마다)
				 = POOLED :  ConnectionPool(주소 얻기(할당), 반환)  (maxActive(8), maxIdle(현재사용중)(8))
				 = JNDI (실무)
			 -->
			 	<property name="driver" value="${driver}"/>	
			 	<property name="url" value="${url}"/>	
			 	<property name="username" value="${username}"/>	
			 	<property name="password" value="${password}"/>	
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="com/sist/dao/food-mapper.xml"></mapper>
	</mappers>
</configuration>
